{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block contenu %}
 <p class="msg_info_generale">
    Votre compte est activé !
    Vous pouvez dès à présent profiter des fonctionnalités offertes par Beezyweb :)
</p>    
{% endblock %}   