body{
    color:black;
}



#toTopHover {
	background:url(../js/toTop/img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:40px;
	display:block;
	overflow:hidden;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:100px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	float:right;
	background:url(../js/toTop/img/ui.totop.png) no-repeat left top;
}

/* Calendrier*/
.dispo{
	color:black;
}

.fermee{
	color:white;
	background-color:red;
	cursor:not-allowed;
}
.optionMajResa {
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
}

.optionMaj:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#titreCalendrier{
    color:white;
    font-size:25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: -5px;
}

.pagination{
    padding: 0px;
    margin-left: 14%;
    margin-bottom: -18px;
}

#commandeCalendrier{
    margin-left: 25%;
    list-style-type: none;
    margin-bottom: 0px; 
}

#commandeCalendrier li{
    display:inline-block
}


.invalider{
	background-color:silver;
	color:black;
}

.indispo{
   background-color:silver;   
}

.affecter{
  background: #3d9dd1;
  background-image: -webkit-linear-gradient(top, #3d9dd1, #5087c2);
  background-image: -moz-linear-gradient(top, #3d9dd1, #5087c2);
  background-image: -ms-linear-gradient(top, #3d9dd1, #5087c2);
  background-image: -o-linear-gradient(top, #3d9dd1, #5087c2);
  background-image: linear-gradient(to bottom, #3d9dd1, #5087c2);
}

.fermer{
  background: #db1c1c;
  background-image: -webkit-linear-gradient(top, #db1c1c, #eb2c46);
  background-image: -moz-linear-gradient(top, #db1c1c, #eb2c46);
  background-image: -ms-linear-gradient(top, #db1c1c, #eb2c46);
  background-image: -o-linear-gradient(top, #db1c1c, #eb2c46);
  background-image: linear-gradient(to bottom, #db1c1c, #eb2c46);
}


.resevEnCours{
	background-color:#0258A3;
	color:white;
	cursor:inherit;	
}

.resevEnCoursAutre{
	background-color:#837680;
	color:white;
	cursor:inherit;	
}

.resevEnCoursAdmin{
    background-color:#4285F4;
    color:white;	
}

.heureDisponible{
	color:black;
}

.resevEnCours:hover{
	color:black;
}
.fermer{
    background-color:red;
    color:white;
}
.valider{    
    background-color:#3CB371;
    color:white;
}

.reserver{
    background-color: #4169E1;
    color:white;
}
.invalider:hover{
	background-color:silver;
	color:black;
	cursor: pointer;
}

#reserveDate{
    background-color: #4169E1;
    margin-left:41%;
}

/* Inscription */
#block_inscription{    
}

.checkCase{    
    background-repeat: no-repeat;
    background-color:#F5F5DC;    
}

.checkCase input{
    display:none;
}

/* Connexion */

.error{
    color:red;
}


#mesInfosCompte{
    width:62%;
    background-color: white;
    border: 1px solid;
    padding-left: 20px;
    padding-right: 20px;
    color:black;
    font-size: 20px;
    margin-left: 15%;
    border-top: none;
}

#mesInfosPerso{
    background-color: white;
    display:inline-block;
    width:100%;
}

#mesInfosPerso ul li{    
    border-top: #837680 0.5px;
    border-style: ridge;
    padding: 8px;
}

#mesInfosCompte h3{    
    color: #2F4F4F;
    font-weight: bold;
    font-family: initial;
    padding-top:10px;
}

#infosKey{
    width:48%;
    float:left;
}

#infosValue{
    width:48%;
    float:right;
}

.clearer{
    clear:both;
}

#mesInfosCompte ul li{
    list-style-type: none;
}

#mesInfosCompte p{
    display:inline-block
}



table tbody tr {
    border: solid 1px;
    border-left: 0;
    border-right: 0;
}


table th {
    color: #e44c65;;
    font-size: 25px;    
    padding: 0.5em 0.75em 0.75em 0.75em;
    text-align: center;
    font-family: fantasy;
}

.annuleResa{
    margin-left: 15px;
    top: 2px;
    position: relative;
}

.annuleResa :hover{
    cursor:pointer
}




.wrapperDivContenu li{
	list-style-type:none;
}

#rdvUser li{
	list-style-type:none; 
}
ul.typeahead strong{
	color: blue;
}
.typeahead a{
	color:#3658B9;
}
ul.typeahead a:hover{
	color:green;
}
#somme{
	color: black;
}

#calendrier table{
    background-color: white;
}

#calendrier table td{
    border: 1px solid ;
    text-align: center;
}

#mesResa{
    margin-left:25%;
}

.numResaReserver{
    width: 35px;
    background-color: #4169E1;
    text-align: center;
    color:white;
    margin-right: 20px;
}

.numResaValider{
    width: 35px;
    background-color: #90EE90;
    text-align: center;
    margin-right: 20px;
}

.dateResaShow{
    margin-right: 20px;
    margin-left: 15px;
    width: 150px;
}

.idResa{
    margin-bottom: 10px;
}

#mesInfosPerso #infosKey li {
    color: black;    
    font-weight: bold;
    text-align: right;
}

#mesInfosPerso #infosValue li{
    color:#2F4F4F;;    
}

/* update password */

#form_parametre p{
    margin-left: 24%;
    font-size: 13px;
    margin-top: -18px;
}

#updatePassword{
    margin-left: 20%;
}

#updatePassword input{
    width:50%;
}

#updatePassword input[type=submit]{
    margin-top:10px;
}
@media screen and (max-width: 736px) {
    
 #form_parametre p{
    margin-left: 5px;
    font-size: 11px;
    margin-top: -18px;
}

#form_parametre p a{
    color: blue;
}
    
    /* profil version téléphone */
    
    .container{
        margin:0px;
    }
    #mesInfosCompte{
        width:100%;
        margin:0px;
        font-size:12px;
        padding:0px;
        min-height:395px;
    }
    
    #mesInfosCompte h3{
        font-size:20px;
        padding:10px;
    }
    
    #mesResa{
        margin-left: 15px;
    }
    
    #mesInfosTitre{
        margin-top:25px;
    }
    .numResaReserver {
        margin-right:5px;
    }
    
    .dateResaShow{
        font-size:16px;
        margin-right: 0px;
        width:120px;
    }    
    

    
    /* Mot de pase oublié version téléphone */    
    .fos_user_resetting_request{
        margin-top:50px;
    }
    .fos_user_resetting_request label{
        font-size:18px;
        font-weight: bold;
    }    
    .fos_user_resetting_request input{
        width:300px;
        margin-top:15px;
    }
    
    /* check_email register oublié version téléphone */
    .msg_info_generale{
        width:100%;
        font-size:25px;
    }
    
    #reserveDate{
        background-color: #4169E1;
        margin-left:18%;
        width:75px;
    }
    
    /* calendrier privee  version telephone */
    
    .pagination {
        margin-left: 48%;            
    }
    
    #calendrier th{
        padding: 0px;
        font-size:14px;
    }
    
    #calendrier p {
        font-size: 9px;        
    }
    
    #calendrier td {
        padding: 0px;        
    }
    
    #calendrier #titreCalendrier{
        font-size:22px;
    }
    
    .checkCase{
        line-height: 45px;
    }
    
    table td{
        width:auto;
    }
    
    /* calendrier moniteur  version telephone */
    
    #commandeCalendrier button{
        font-size:10px;
    }
    
    .annuleResa {    
        margin-right:10px;
    }
        
}